# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Signing (local)
**/Signing.xcconfig

# Swift PM
.swiftpm/
Package.resolved

# Tools
.tools/
